body {
    background-color: #fdf3e3;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #007bff;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ccc;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.card-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: #28a745;
}

.table {
    margin-top: 20px;
}

.table th {
    text-align: center;
    background-color: #c3e6cb;
    color: #155724;
}

.table td {
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn {
    border-radius: 5px;
}

form label {
    font-weight: bold;
    color: #333;
}

.card.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="date"], input[type="time"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    border-color: #ffc107;
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

#monthlyAttendancesMenu {
    margin-top: 20px;
}
.accordion-button {
    font-size: 14px;
}

.container {
    max-width: 900px;
}

/* Estilo para destacar o dia atual no calendário */
.fc-day-today {
    background-color: rgba(255, 193, 7, 0.2) !important;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}