/* Estilos para o footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 30px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between; /* Coloca a logo à esquerda e o texto à direita */
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.footer_dev_end {
    display: block;
}

.footer_info {
    display: flex;
    align-items: center;
}

.footer_info .img_footer {
    width: 150px;
    margin-right: 15px; /* Espaçamento entre a logo e o texto */
}

.footer_info p {
    font-size: 1rem;
    margin: 0.05rem !important;
    color: whitesmoke;
    text-align: justify;
}

/* Centralizando a parte de "Desenvolvido por" */
.footer_dev_end {
    background-color: rgb(57, 57, 61);
    text-align: end;
    font-weight: bold;
}

.footer_dev_end p {
    font-size: 1rem;
    color: whitesmoke;
}

.footer_dev_end a, .footer_info_two a {
    color: #F4F4B4;
    text-decoration: none;
}

.footer_dev_end a:hover {
    text-decoration: underline;
}